ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background: #008B8B;
  overflow: hidden;
}

li{
  float: left;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  border-right: 1PX solid navy;
}

li a:visited{
  color: #AFEEEE;
}

li a:hover{
  background-color: #B0C4DE;
  color: #A52A2A ;
}



.menu > li{
  position: relative;
  display: inline-block;
}

.menu > li > a{
  display: block;
  padding: 15px 20px;
  color: #353535;
  font-family: 'Open sans';
  text-decoration: none;
}

.menu li a:hover{
  color: #CE7D35;
  transition: all .3s;
}

/* Submenu*/

.submenu{
  position: absolute;
  background: #333333;
  width: 120%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}

.submenu li a{
  display: block;
  padding: 15px;
  color: #fff;
  font-family: 'Open sans';
  text-decoration: none;
}

.menu li:hover .submenu{
  visibility: visible;
  opacity: 1;
}
